<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, viewport-fit=cover">
  <link rel="icon" href="{{webpackConfig.output.publicPath}}static/favicon.ico" type="image/ico">
  <link rel="icon" href="{{webpackConfig.output.publicPath}}static/favicon.svg" type="image/svg+xml">
  {{#if (eq webpackConfig.mode "production")}}
  \{{{helmet.title}}}
  {{/if}}
  {{#each htmlWebpackPlugin.files.css}}
  <link rel="stylesheet" type="text/css" href="{{this}}" />
  {{/each}}
</head>

<body>
  <div id="entry" class="group">\{{{reactDom}}}</div>

  <script src="{{htmlWebpackPlugin.files.chunks.main.entry}}"></script>
  <script async="async" src="{{htmlWebpackPlugin.files.chunks.vendor.entry}}"></script>
  <script async="async" src="{{htmlWebpackPlugin.files.chunks.polyfill.entry}}"></script>
</body>

</html>